<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="hspwb_home.cfm" />
            </files>
        </defaultDocument>
		
		<rewrite>
		  <rules>
			<!-- Rule to redirect non-mobile browsers to the desktop version -->
			<rule name="Redirect to Desktop Version for Non-Mobile Browsers" enabled="true" stopProcessing="true">
			  <match url="(.*)" />
			  <conditions>
				<!-- Check if the user agent is NOT a mobile browser -->
				<add input="{HTTP_USER_AGENT}" pattern="(iphone|ipod|android|blackberry|mobile|windows\sphone)" negate="true" />
			  </conditions>
			  <action type="Redirect" url="https://www.hpattorneys.com" redirectType="Temporary" />
			</rule>
		  </rules>
		</rewrite>
        
    </system.webServer>
</configuration>
